<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859130892773-ih85pg3u9qvl5e02ts2i15vftrben6us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859130892773-ih85pg3u9qvl5e02ts2i15vftrben6us</string>
	<key>API_KEY</key>
	<string>AIzaSyAiuzUIGoqvRfLY_Rpz763iypuk3ubWoQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>859130892773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garypiong.ezphotoupload</string>
	<key>PROJECT_ID</key>
	<string>ez-photo-upload</string>
	<key>STORAGE_BUCKET</key>
	<string>ez-photo-upload.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859130892773:ios:3ab12b2202022372c89f0c</string>
	<key>DATABASE_URL</key>
	<string>https://ez-photo-upload.firebaseio.com</string>
</dict>
</plist>